include ../System/Config

include ../System/Mixins

doctype html
html(lang=fileLanguage dir="ltr")
    head
        include ../Widgets/Head

    body&attributes(bodyAttr)

        block topBlock

        .wrapper

            block wHeader
                include ../Widgets/wHeader

            block wMenu
                include ../Widgets/wMenu

            .scontainer
                block wContainer

            block wFooter
                include ../Widgets/wFooter

        include ../Widgets/PageBottom