//- Подключение системных переменных
include ../System/Locals

//- Подключение системных переменных
include ../System/Variables

//- Объявление собственных переменных с глобальной видимостью
block Declaration

//- Переопределение системных переменных
include ../System/Remapping

//- Инидивидуальное переопределение переменных
block Remapping