//- Путь к медиафайлом
-var MediaPath = LOCALS.media

//- Язык страницы
-var fileLanguage = 'ru-RU'

//- Имя файла / алиас для работы с locals
-var fileAlias = 'index'

//- данные файла
-var fileData = {}

//- ссылка к файлу
-var fileLink = '#'

//- Имя страницы в списках и оглавлениях
-var fileName = 'Страница'

//- Тайтл страницы
-var fileTitle = 'Страница'

//- Массив для указания путей активных классов в списках
-var mainMenuPath = []

//- Название класса для активных пунктов меню
-var activeClass = 'w_active'

//- Объект атрибутов для элемента боди
-var bodyAttr = {}

//- tpl основы
-var viewTpl = 'Base'